.botones{
    display: flex;
    width: 200px;
    justify-content: center;
    border: 1px solid blue;
    background-color: rgba(67, 69, 195, 0.471);
    padding: 10px;
}

.img5{
    width: 20px;
    margin-right: 10px;
}